name: Release cronned-rclone

on:
  push:
    tags:
      - 'v*'

env:
  BWS_DOCKERHUB_USERNAME: ebf9ede7-b7eb-422f-a590-b16c014a70a3
  BWS_DOCKERHUB_TOKEN: 0fa21e12-63ae-4793-a9a5-b16c014aa15d
  IMAGE_TAG: adnanjaw/cronned-rclone
  LATEST_TAG: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Fetch Secrets From Bitwarden
        uses: bitwarden/sm-action@v2.0.0
        with:
          access_token: ${{ secrets.BWS_TOKEN }}
          secrets: |
            ${{ env.BWS_DOCKERHUB_USERNAME }}  > DOCKERHUB_USERNAME
            ${{ env.BWS_DOCKERHUB_TOKEN }} > DOCKERHUB_TOKEN

      - name: Set Up QEMU for Multi-Platform Builds
        uses: docker/setup-qemu-action@v3

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image for Testing
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true  # Load the image locally to test it
          tags: ${{ env.IMAGE_TAG }}:${{ env.LATEST_TAG }}

  push:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Fetch Secrets From Bitwarden
        uses: bitwarden/sm-action@v2.0.0
        with:
          access_token: ${{ secrets.BWS_TOKEN }}
          secrets: |
            ${{ env.BWS_DOCKERHUB_USERNAME }}  > DOCKERHUB_USERNAME
            ${{ env.BWS_DOCKERHUB_TOKEN }} > DOCKERHUB_TOKEN

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Push Latest Tag
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }}:${{ env.LATEST_TAG }}

      - name: Push Versioned Tag
        if: github.ref_type == 'tag'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_TAG }}:${{ github.ref_name }}
